<app-header-jury></app-header-jury>

<div class="container mx-4 mt-5">
  <div class="row">
    <div class="col-8 border border-4">
      <mat-tab-group>
        <mat-tab label="Detail">
          <div class="container my-4">
            <div class="card" style="width: 500px">
              <div class="row no-gutters">
                <div class="col-sm-5">
                  <img class="card-img" src="../../assets/hackathon.jpg" />
                </div>
                <div class="col-sm-7">
                  <div class="card-body">
                    <div class="d-flex justify-content-between">
                      <h5 class="card-title">Event detail</h5>
                      <p class="bg-primary p-2 border rounded">Candidat</p>
                    </div>
                    <div class="card-text">
                      <p>Date Debut : 22-07-1998</p>
                      <p>Date Debut : 22-07-1998</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </mat-tab>
        <mat-tab label="Critere">
          <!--table critere-->
          <table class="table my-4">
            <thead>
              <tr>
                <th scope="col">Libelle</th>
                <th scope="col">Bareme</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Mark</td>
                <td>50</td>
              </tr>
            </tbody>
          </table>
        </mat-tab>
      </mat-tab-group>
    </div>
    <div class="col-4">
      <h2 class="ml-5">Participants</h2>
      <div class="container m-4">
        <table class="table table-striped my-4">
          <thead>
            <tr>
              <th scope="col">Code</th>
              <th scope="col">Nom</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>001</td>
              <td>Otto doe</td>
              <td>
                <app-modal></app-modal>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
