<app-header-jury [nomComplet]="this?.juryNomComplet"></app-header-jury>

<div class="container mx-4 mt-5">
  <div class="row">
    <div class="col-8 border border-4">
      <mat-tab-group>
        <mat-tab label="Detail">
          <div class="container my-4">
            <div class="card" style="width: 500px">
              <div class="row no-gutters">
                <div class="col-sm-5">
                  <img
                    class="card-img"
                    [src]="
                      'data:image/jpg;base64,' + evenement?.evenement_photo
                    "
                  />
                </div>
                <div class="col-sm-7">
                  <div class="card-body">
                    <div class="d-flex justify-content-between">
                      <h5 class="card-title">{{ evenement?.evenement_nom }}</h5>
                      <p class="bg-primary p-2 border rounded">
                        {{ evenement?.evenement_type }}
                      </p>
                    </div>
                    <div class="card-text">
                      <p>Date Debut : {{ evenement?.evenement_date_debut }}</p>
                      <p>Date Debut : {{ evenement?.evenement_date_fin }}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- <div *ngIf="!evenement.length">
              <p class="text-center">Aucune informations</p>
            </div> -->
          </div>
        </mat-tab>
        <mat-tab label="Critere">
          <!--table critere-->
          <table class="table my-4">
            <thead>
              <tr>
                <th scope="col">Libelle</th>
                <th scope="col">Bareme</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let critere of critereByEvent">
                <td>{{ critere?.critere_libelle }}</td>
                <td>{{ critere?.critere_bareme }}</td>
              </tr>
              <tr *ngIf="!critereByEvent?.length">
                <td colspan="2">Aucune informations disponible</td>
              </tr>
            </tbody>
          </table>
        </mat-tab>
      </mat-tab-group>
    </div>
    <div class="col-4">
      <h2 class="ml-5">Participants</h2>
      <div class="container m-4">
        <table class="table table-striped my-4">
          <thead>
            <tr>
              <th scope="col">Code</th>
              <th scope="col">Nom</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let candidat of candidatsByEvent">
              <td>{{ candidat?.candidat_code }}</td>
              <td>
                {{ candidat?.candidat_nom }} {{ candidat?.candidat_prenom }}
              </td>
              <td>
                <app-modal></app-modal>
              </td>
            </tr>
            <tr *ngIf="!candidatsByEvent?.length">
              <td colspan="2">Aucun candidats</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
