<ng-template #content let-modal>
  {{ form.value.rating }}
  <div class="modal-body">
    <form [formGroup]="form">
      <table class="table">
        <tbody>
          <tr>
            <td class="mt-4" style="font-size: 2rem">Libelle</td>
            <td>
              <ngx-star-rating
                formControlName="rating"
                [id]="'rating'"
              ></ngx-star-rating>
            </td>
          </tr>
          <tr>
            <td class="mt-4" style="font-size: 2rem">Libelle</td>
            <td>
              <ngx-star-rating
                formControlName="rating2"
                [id]="'rating2'"
              ></ngx-star-rating>
            </td>
          </tr>
        </tbody>
      </table>
    </form>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-light"
      (click)="modal.close('Close click')"
    >
      Fermer
    </button>
  </div>
</ng-template>

<button class="btn btn-outline-primary mb-2 mr-2" (click)="openLg(content)">
  Noter
</button>
