<app-header></app-header>

<div class="container my-5">
  <!--modal success-->
  <app-modal-alert
    [success]="true"
    [alert]="alert"
    [alertMessage]="'Success'"
    [message]="'Jury ajouté avec succès'"
    (alertClose)="alertClose()"
  >
  </app-modal-alert>
  <h3 class="mx-5">Ajouter un jury</h3>
  <form [formGroup]="juryForm" (ngSubmit)="onSaveJury()" class="mx-5">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Code </label>
      <input type="text" class="form-control" formControlName="code_id" />
    </div>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Nom Complet</label>
      <input
        type="text"
        class="form-control"
        formControlName="jury_nom_complet"
      />
    </div>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Telephone</label>
      <input
        type="text"
        class="form-control"
        formControlName="jury_telephone"
      />
    </div>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email</label>
      <input type="email" class="form-control" formControlName="jury_email" />
    </div>

    <button
      [disabled]="!this.juryForm.valid"
      type="submit"
      class="btn btn-primary"
    >
      Enregistrer
    </button>
  </form>
</div>
