<div class="col-sm m-4">
  <div class="card" style="width: 18rem">
    <a routerLink="/container-evenements">
      <img src="../../../assets/hackathon.jpg" class="card-img-top" alt="..." />
    </a>
    <div class="card-body">
      <!-- <h5 class="card-title">Event title</h5> -->
      <div class="card-text">
        <p>Code: 002TH</p>
        <p>Nom: Boye</p>
        <p>email: boye.claude@gmail.com</p>
        <p>Tel:123546789</p>
      </div>

      <div class="d-flex justify-content-between">
        <a href="#" class="btn btn-primary">Modifier</a>
        <a href="#" class="btn btn-danger">Supprimer</a>
      </div>
    </div>
  </div>
</div>
