<app-header></app-header>

<div class="container my-5">
  <h3 class="mx-5">Modifier Critere</h3>
  <form
    [formGroup]="UpdateCritereForm"
    (ngSubmit)="onUpdateCritere()"
    class="mx-5"
  >
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Libelle</label>
      <input
        type="text"
        class="form-control"
        formControlName="critere_libelle"
      />
    </div>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Bareme</label>
      <input
        type="text"
        class="form-control"
        formControlName="critere_bareme"
      />
    </div>

    <button
      type="submit"
      [disabled]="!this.UpdateCritereForm.valid"
      class="btn btn-primary"
    >
      Enregistrer
    </button>
  </form>
</div>
