<app-header></app-header>
<div class="container my-5">
  <h3 class="mx-5">Modifier jury</h3>
  <form class="mx-5">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Code </label>
      <input type="text" class="form-control" />
    </div>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Nom Complet</label>
      <input type="text" class="form-control" />
    </div>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Telephone</label>
      <input type="text" class="form-control" />
    </div>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email</label>
      <input type="email" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary">Enregistrer</button>
  </form>
</div>
