<div class="bg-light p-5">
  <div class="container">
    <div class="d-flex justify-content-between">
      <p class="my-2" style="font-size: 1.2rem; font-weight: bold">
        Nos Candidats
      </p>
      <a routerLink="/ajouter-candidat" class="btn btn-primary my-2"
        >Ajouter candidat</a
      >
    </div>
    <div class="row overflow-x">
      <div class="d-flex">
        <app-candidat></app-candidat>
        <app-candidat></app-candidat>
        <app-candidat></app-candidat>
        <app-candidat></app-candidat>
        <app-candidat></app-candidat>
      </div>
    </div>
  </div>
</div>
