<div class="container m-4">
  <div class="d-flex justify-content-between">
    <p class="my-2" style="font-size: 1.2rem; font-weight: bold">Nos juries</p>
    <a routerLink="/ajouter-jury" class="btn btn-primary my-2">Ajouter jury</a>
  </div>
  <table class="table table-striped my-4">
    <thead>
      <tr>
        <th scope="col">Code</th>
        <th scope="col">Nom Complet</th>
        <th scope="col">Telephone</th>
        <th scope="col">Email</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Mark</td>
        <td>Otto doe</td>
        <td>0708569874</td>
        <td>otto2gmail.com</td>
        <td>
          <button class="btn btn-secondary mx-2">Modifier</button>
          <button class="btn btn-danger">Supprimer</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
