<div class="container m-5">
  <!-- {{ loginJuryForm.value | json }}
  <p>form valid {{ loginJuryForm.valid | json }}</p>
  {{ loginJuryForm.dirty | json }}
  <p>form dirty</p> -->
  <form [formGroup]="loginJuryForm" (ngSubmit)="onLoginJury()">
    <h3>Espace Jury - Login</h3>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Telephone</label>
      <input
        type="text"
        class="form-control"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
        formControlName="jury_telephone"
        placeholder="Entrez le numero de telephone"
      />
    </div>
    <button
      [disabled]="!this.loginJuryForm.valid"
      type="submit"
      class="btn btn-primary"
    >
      Log in
    </button>
  </form>
</div>
