<div class="container m-4">
  <div class="d-flex justify-content-between">
    <p class="my-2" style="font-size: 1.2rem; font-weight: bold">
      Nos Criteres
    </p>
    <a routerLink="/ajouter-critere" class="btn btn-primary my-2"
      >Ajouter critere</a
    >
  </div>
  <table class="table table-striped my-4">
    <thead>
      <tr>
        <th scope="col">Libelle</th>
        <th scope="col">Bareme</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Mark</td>
        <td>Otto</td>
        <td>
          <button class="btn btn-secondary mx-2">Modifier</button>
          <button class="btn btn-danger">Supprimer</button>
        </td>
      </tr>
      <tr>
        <td>Mark</td>
        <td>Otto</td>
        <td>
          <button class="btn btn-secondary mx-2">Modifier</button>
          <button class="btn btn-danger">Supprimer</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
