<nav class="navbar navbar-expand-lg navbar-light bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#" style="color: white">Jury Pro</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarText"
      aria-controls="navbarText"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="collapse navbar-collapse"
      id="navbarText"
      class="flex justify-content-between"
    >
      <div></div>
      <div>
        <span class="navbar-text" style="color: white">
          Bienevenue, {{ nomComplet }}
        </span>
        <a (click)="logout()" class="btn btn-success mx-2">logout</a>
      </div>
    </div>
  </div>
</nav>
