<!--evenement details card-->
<div class="container mt-4">
  <h3>Evenement Detail</h3>
  <hr />
  <div class="card" style="width: 800px">
    <div class="row no-gutters">
      <div class="col-sm-5">
        <img class="card-img" src="../../assets/hackathon.jpg" />
      </div>
      <div class="col-sm-7">
        <div class="card-body">
          <div class="d-flex justify-content-between">
            <h5 class="card-title">Event detail</h5>
            <p class="bg-primary p-2 border rounded">Candidat</p>
          </div>
          <div class="card-text">
            <p>Date Debut : 22-07-1998</p>
            <p>Date Debut : 22-07-1998</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--evenement information-->
<div class="container m-4 border border-4">
  <mat-tab-group>
    <mat-tab label="Criteres">
      <div class="m-4">
        <app-criteres></app-criteres>
      </div>
    </mat-tab>
    <mat-tab label="Jury">
      <div class="m-4">
        <app-jurys></app-jurys>
      </div>
    </mat-tab>
    <mat-tab label="Candidats">
      <div class="m-4">
        <app-candidats></app-candidats>
      </div>
    </mat-tab>
    <mat-tab label="Resultats">
      <div class="m-4">
        <app-resultats></app-resultats>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
