<!--evenement details card-->
<div class="container mt-4">
  <h3>Evenement Detail</h3>
  <hr />
  <div class="card" style="width: 500px">
    <div class="row no-gutters">
      <div class="col-sm-5">
        <img
          class="card-img"
          src="../../assets/hackathon.jpg"
          alt="Suresh Dasari Card"
        />
      </div>
      <div class="col-sm-7">
        <div class="card-body">
          <h5 class="card-title">Suresh Dasari</h5>
          <p class="card-text">
            Suresh Dasari is a founder and technical lead developer in tutlane.
          </p>
          <a href="#" class="btn btn-primary">View Profile</a>
        </div>
      </div>
    </div>
  </div>
</div>

<!--evenement information-->
<div class="container m-4 border border-4">
  <mat-tab-group>
    <mat-tab label="Criteres">
      <p class="m-4">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta
        consequuntur quasi quisquam magnam quia vel neque ad magni officia
        veniam laudantium a, nobis voluptatem harum provident quos, dolorem nam
        quas sed error consectetur maxime nesciunt. Vitae unde dolores nulla
        consequuntur, accusantium nam harum porro alias incidunt voluptatibus
        dolorum, id maiores voluptates inventore aperiam ducimus nemo qui a
        recusandae saepe molestias tempora laudantium asperiores minima!
        Voluptatem doloribus laboriosam aliquam repellat nisi. A, temporibus
        quos accusamus distinctio voluptatum est vero suscipit assumenda rem
        consectetur. Esse cupiditate omnis similique ducimus incidunt officiis
        illo officia earum est accusamus totam magnam, vel, fugit eveniet ipsa.
      </p>
    </mat-tab>
    <mat-tab label="Jury"> Jury </mat-tab>
    <mat-tab label="Candidats"> Candidats </mat-tab>
    <mat-tab label="Resultats"> Resultats </mat-tab>
  </mat-tab-group>
</div>
